.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.pop-title {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: var(--white-2);
  margin-bottom: 2%;
}

.popup-content {
  background: var(--bg-gradient-onyx);
  padding: 2%;
  border-radius: 14px;
  text-align: center;
  box-shadow: var(--shadow-2);
}

.popup-content img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 14px;
  margin-bottom: 2%;
}

.close {
  position: relative;
  opacity: 0.7;
  left: 94%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  color: var(--white-2);
  background: var(--onyx);
}

.popupButtons {
  opacity: 0.7;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
  height: 32px;
  border-radius: 8px;
}

.popupSource a, .popupLive a {
  opacity: 0.7;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  width: 150px;
  height: 32px;
  border-radius: 8px;
  color: var(--white-2);
  background: var(--onyx);
}

.getmyresume {
  opacity: 0.7;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 13px;
  width: 100%;
  height: 32px;
  border-radius: 8px;
  color: var(--white-2);
  background: var(--onyx);
  margin-top: 4%;
}

.close:hover,
.close:focus, .popupLive a:hover, .popupSource a:hover, .getmyresume:hover { opacity: 1; }

.technology-badge {
  padding: 5px 10px;
  margin: 3px;
  background: var(--onyx);
  color: white;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 2%;
}
